@model ProductModel
@section Css{
<style>
	.rate {
		float: left;
		height: 46px;
		padding: 0 10px;
	}

	.rate:not(:checked)>input {
		position: absolute;
		top: -9999px;
	}

	.rate:not(:checked)>label {
		float: right;
		width: 1em;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 30px;
		color: #ccc;
	}

	.rate:not(:checked)>label:before {
		content: '★ ';
	}

	.rate>input:checked~label {
		color: #ffc700;
	}

	.rate:not(:checked)>label:hover,
	.rate:not(:checked)>label:hover~label {
		color: #deb217;
	}

	.rate>input:checked+label:hover,
	.rate>input:checked+label:hover~label,
	.rate>input:checked~label:hover,
	.rate>input:checked~label:hover~label,
	.rate>label:hover~input:checked~label {
		color: #c59b08;
	}
</style>
}

<div class="container">
	<h2 class="text-center">@Model.Name adlı ürün için yorum @(ViewBag.Comment!= null ? "düzenle" : "oluştur")</h2>
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<img src="~/img/@Model.ImageUrl" class="img img-rounded img-fluid" />
					<p class="text-secondary text-center">@Model.Name</p>
				</div>
				<div class="col-md-10">
					<form asp-controller="Cart" asp-action="Rate" method="POST">
						<input name="ProductId" value="@Model.ProductId" hidden>
						<p>
						<div class="rate">
							@for (int i = 5; i > 0; i--)
							{
								<input type="radio" id="star@(i)" name="Rate" value="@(i)" @( ViewBag.Comment != null &&(int)Math.Round(ViewBag.Comment.Rate)== i ? "checked" : null ) />
								<label for="star@(i)" title="text">@(i) star</label>
							}
						</div>
						</p>

						<div class="clearfix"></div>
						<p><input class="form-control my-2" name="Title" value=@(ViewBag.Comment!= null ? ViewBag.Comment.Title : null) required></p>
						<p><textarea class="form-control my-2" name="Description"
								rows="4" required>@(ViewBag.Comment!= null ? ViewBag.Comment.Description :"")</textarea>
						<p>
							<button type="submit" class="btn btn-success ml-2"><a> <i class="fa fa-reply"></i> Yorumu
									Gönder</a></button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>