@model ProductDetailModel
@section Css{
<style>
    .card-inner {
        margin-left: 4rem;
    }
</style>
}

<div class="row">
    <div class="col-md-3">
        <img src="~/img/@Model.Product.ImageUrl" class="img-fluid">
    </div>
    <div class="col-md-9">
        <h1 class="mb-3">@Model.Product.Name</h5>
            <hr>

            @foreach (var item in Model.Categories)
            {
                <a asp-controller="shop" asp-action="list" asp-route-category="@item.Url"
                class="btn btn-link p-0 mb-3">@item.Name</a>
            }

            <div class="mb-3">
                <h4 class="text-primary py-3">
                    <i class="fas fa-lira-sign"></i>@Model.Product.Price
                </h4>
                <div class="d-flex justify-content-start p-2">

                    @for (var i = 0; i < (int)Math.Round((double)Model.Product.Rate); i++)
                    {
                        <i class="text-warning fa fa-star py-1"></i>
                    }

                    <cite class="px-2">(@Model.Product.TotalComment)</cite>
                </div>
                @if (Model.Product.Stock > 0)
                {
                    <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="form-inline my-2">
                        <input type="hidden" name="productId" value="@Model.Product.ProductId">
                        <input type="hidden" name="productUrl" value="@Model.Product.Url">
                        <div class="input-group mb-3">
                            <label class="col-sm-1 col-form-label col-form-label-sm"><b>Adet :</b> </label>
                            <input type="number" name="quantity" class="form-control me-2" value="1" min="1" step="1"
                            max="@Model.Product.Stock">
                        </div>
                        <div>
                            <p>
                                Stoklarımızda @Model.Product.Stock adet ürün bulunmaktadır.
                            </p>
                        </div>
                        <div class="input-group-append my-4">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-cart-plus"></i>Sepete Ekle
                            </button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="alert alert-warning" role="alert">
                        Bu ürün şu anda stoklarımızda bulunmuyor !
                    </div>
                }
            </div>
    </div>
    <div class="row">
        <div class="col-md-8 p-5">
            <p class="p-3">@Html.Raw(Model.Product.Description)</p>
            <hr>
        </div>
    </div>


    <div class="row">
        @if (Model.Comments != null && Model.Comments.Any())
        {
            <h4>Yorumlar</h4>
            <hr>
            <div class="container">
                @foreach (var item in Model.Comments)
                {
                    @if (item.IsApproved == true)
                    {
                        <div class="card my-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div>
                                            <div class="d-flex bd-highlight mb-3">
                                                <div class="me-auto p-2 bd-highlight"><strong>@item.Title</strong></div>
                                                <div class="p-2 bd-highlight"> <cite class="px-2">@item.DateAdded.ToString("dd.mm.yyyy")</cite>
                                                </div>
                                                <div class="p-2 bd-highlight">
                                                    @for (int i = 0; i < ((int)Math.Round((double)item.Rate)); i++)
                                                    {
                                                        <i class="text-warning fa fa-star pt-1"></i>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="container text-center">
                <p>Bu ürüne daha yorum yapılmamış.</p>
            </div>
            <hr>
        }
    </div>
</div>